<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/drawbtn.ejs') %>
    <div class="content">
      <% if (currentUser) { %>
        <h2 class="centered">
          <span class="avi" style="background-color: <%= currentUser.color || 'silver' %>"></span>
          <%=currentUser.username%>
        </h2>
        <div class="btn-area centered">
          <p><a href="/users/<%= currentUser.username %>" class="btn alt">My Drawings</a>
          <p><a href="/sessions/end" class="btn alt">Log Out</a>
        </div>
      <% } else { %>
        <h2 class="centered">Menu</h2>
        <div class="btn-area centered">
          <p><a href="/sessions/new" class="btn alt">Log In</a>
          <p><a href="/users/new" class="btn alt">Sign Up</a>
        </div>
      <% } %>
    </div>
  </body>
</html>
