<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="content">
      <% if (item.title) { %>
        <h2><%= item.title %></h2>
      <% } %>

      <img src="/img/<%=item.id%>" alt="">
      <form action="/drawings/<%=item.id%>?_method=DELETE" method="POST">
        <div class="centered btn-area">
        <a href="/drawings/<%=item.id%>/edit" class="btn alt">Edit</a>
        <% if (currentUser && (currentUser.admin || item.createdBy === currentUser.username)) { %>
          <button class="btn alt del">Delete</button>
        <% } %>
        </div>
      </form>

      <p>
        Drawn by
        <a href="/users/<%= item.createdBy %>" class="name btn alt">
          <span class="avi" style="background-color: <%= item.color || 'silver' %>"></span>
          <%= item.createdBy%>
        </a>
        <span class="timestamp"><%= timeSince(item.createdAt) %></span>
      </p>
      <% if (item.editLog) { %>
        <% item.editLog.forEach(edit => { %>
          <p>Edited by
            <a href="/users/<%= edit.editedBy %>" class="name btn alt">
              <span class="avi" style="background-color: <%= edit.editColor || 'silver' %>"></span>
              <%= edit.editedBy %>
            </a>
            <span class="timestamp"><%= timeSince(edit.editedAt) %></span>
          </p>
        <% }) %>
      <% } %>

    </div>
</html>
